/* Menus */
#root {
    /*
    Grayscale Palette
    */
    -fx-color-grey-darkest: #141416;
    -fx-color-grey-dark: #1A1A1D;
    -fx-color-grey-middle: #2C2C30;
    -fx-color-grey-light: #4F4E56;
    -fx-color-grey-light-selected: #47464D;
    -fx-color-grey-lightest: #86858E;
    -fx-color-white: #F1F1F1;
    /*
    Accent Colors
    */
    -fx-color-red: #C14E4E;
    -fx-color-orange: #E6992C;
    -fx-color-magenta: #FF1CF0;
    -fx-color-magenta-dark: #A230C8;
    -fx-color-blue: #39BFF9;
    -fx-color-green: #2CE658;

    -fx-background-color: -fx-color-grey-dark;
}
/* experimental : changes cursor style when hovering over buttons
.button {
    -fx-cursor: hand;
}
*/
#menuTop {
    -fx-background-color: -fx-color-grey-dark;
}

#menuTop1 {
    -fx-text-fill: -fx-color-grey-dark;
}

#listData {
    -fx-background-color: -fx-color-grey-middle;
}

#middlePane {
    -fx-background-color: -fx-color-grey-light;
    -fx-border-color:-fx-color-grey-darkest;
    -fx-border-width: 6;
}

#dataPane {
    -fx-background-color: -fx-color-grey-middle;
}

#dataSep .line {
    -fx-border-color: -fx-color-grey-darkest;
    -fx-border-width: 3;
}

#topSep .line {
    -fx-border-color: -fx-color-grey-darkest;
    -fx-border-width: 2;
}

#bottomSep .line {
    -fx-border-color: -fx-color-grey-darkest;
    -fx-border-width: 2;
}

/*Top Menu style */
.topmenu-button {
    -fx-text-fill: -fx-color-white;
    -fx-font-family:"Arial Black";
    -fx-background-color: -fx-color-grey-darkest;
}

.topmenu-button:hover {
    -fx-background-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange), -fx-color-grey-dark;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 15, 13;
    -fx-text-fill: -fx-color-magenta;
}

.topMenuBackground {
    -fx-background-color: -fx-color-grey-dark;
}

/* Labels */

.topMenuLabel {
    -fx-text-fill: -fx-color-magenta;
    -fx-font-family:"Arial Black";
}

.whiteLabel {
    -fx-text-fill: -fx-color-white;
    -fx-font-family:"Arial Black";
}

.viewLabel {
    -fx-text-fill: -fx-color-grey-lightest;
    -fx-font-family:"Arial Black";
}

.viewLabel:selected {
    -fx-text-fill: -fx-color-magenta;
    -fx-font-family:"Arial Black";
}

#exitTopMenu {
    -fx-background-image: url("/Gui/Icons/countCar.png");
    -fx-background-size: 20px 20px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

#vehicleCount:hover {
    -fx-text-fill: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange);
}
/* Map choosing */

.mapSelect:hover {
    -fx-border-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange);
    -fx-border-width: 3, 3;
    -fx-border-insets: 0, 2;
    -fx-border-style: solid, solid;
}

#map1select {
    -fx-background-image: url("/Gui/Icons/Map1.png");
    -fx-background-size: 200px 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}


#map2select {
    -fx-background-image: url("/Gui/Icons/Map2.png");
    -fx-background-size: 200px 200px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

/* Top left delay menu -> Spinner consist of multiple components */

#delaySelect {
    -fx-background-color: -fx-color-grey-darkest;
}

#delaySelect .text-field {
    -fx-background-color: -fx-color-grey-darkest;
    -fx-border-color: -fx-color-grey-light;
    -fx-text-fill: white;
    -fx-font-family:"Arial Black";
}

#delaySelect .text-field:hover {
    -fx-border-color: -fx-color-grey-light;
    -fx-background-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange), -fx-color-grey-dark;
    -fx-background-insets: 0, 2;
}


#delaySelect .increment-arrow-button {
    -fx-background-color: -fx-color-grey-darkest;
    -fx-border-color: -fx-color-grey-light;
}

#delaySelect .increment-arrow-button:hover {
    -fx-border-color: -fx-color-grey-light;
    -fx-background-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange), -fx-color-grey-dark;
    -fx-background-insets: 0, 2;
}

#delaySelect .decrement-arrow-button {
    -fx-background-color: -fx-color-grey-darkest;
    -fx-border-color: -fx-color-grey-light;
}

#delaySelect .decrement-arrow-button:hover {
    -fx-border-color: -fx-color-grey-light;
    -fx-background-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange), -fx-color-grey-dark;
    -fx-background-insets: 0, 2;
}

/* Middle style */
.zoomMenu {
    -fx-fill: -fx-color-grey-light ;
    -fx-stroke: #333333;
    -fx-stroke-width: 0;
    -fx-cursor: hand;
}

.zoomMenu:hover {
    /* border = stroke, needs custom one */
}

.fileMenu {
    -fx-background-color: -fx-color-grey-light;
    -fx-text-fill: white;
    -fx-background-radius: 15;
    -fx-font-family:"Arial Black";
}

.fileMenu:hover {
    -fx-background-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange), -fx-color-grey-dark;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 15, 13;
    -fx-text-fill: -fx-color-magenta;
}


#amountMinus {
    -fx-background-radius: 6 0 0 6;
    -fx-background-color: -fx-color-grey-light;
    -fx-text-fill: -fx-color-white;
    -fx-font-family:"Arial Black";
    -fx-font-weight: bold;
}

#amountPlus {
    -fx-background-radius: 0 6 6 0;
    -fx-background-color: -fx-color-grey-light;
    -fx-text-fill: -fx-color-white;
    -fx-font-family:"Arial Black";
    -fx-font-weight: bold;
}

#amountPlus:pressed {
    -fx-background-color: -fx-color-grey-light-selected;
}

#amountMinus:pressed {
    -fx-background-color: -fx-color-grey-light-selected;
}


#amountField {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: -fx-color-grey-lightest;
    -fx-text-fill: -fx-color-white;
    -fx-font-family:"Arial Black";
    -fx-alignment: center;
}

#addVehicleButton:pressed {
    -fx-background-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange), -fx-color-grey-dark;
    -fx-background-insets: 0, 2;
    -fx-text-fill: -fx-color-magenta;
}

#colorSelector {
    -fx-background-color: -fx-color-grey-light;
    -fx-font-family:"Arial Black";
}

#colorSelector > .label {
    -fx-text-fill: -fx-color-white;
}

/* universal settings for all choiceboxes */
.choice-box {
    -fx-background-color: -fx-color-grey-light;
}

.choice-box > .label {
    -fx-text-fill: -fx-color-white;
    -fx-font-family: "Arial Black";
    -fx-allignment: center;
}

.choice-box .open-button .arrow {
    -fx-background-color: -fx-color-white;
}

/* dropdown menu */
.choice-box .context-menu {
    -fx-background-color: -fx-color-grey-middle;
}

.choice-box .menu-item {
    -fx-padding: 10px;
}

.choice-box .menu-item .label {
    -fx-text-fill: -fx-color-white;
}

.choice-box .menu-item:focused .label {
    -fx-text-fill: -fx-color-white;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.8), 2, 0.0, 0, 1);
}

.choice-box .menu-item:focused {
    -fx-background-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange);
}

#addVehicleButton {
    -fx-background-color: -fx-color-grey-light;
    -fx-text-fill: -fx-color-white;
}

#generateRoute {
    -fx-background-color: -fx-color-grey-light;
    -fx-text-fill: -fx-color-white;
}

#addMenu .separator .line {
    -fx-border-color: -fx-color-grey-darkest;
    -fx-border-width: 1.5px;
    -fx-background-color: null;
}

/* Main Button menus*/
.mainButtonMenu {
    /* add vehicle button */
    -fx-background-color: -fx-color-grey-dark;
    -fx-border-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange);
    -fx-border-width: 3, 2;
    -fx-border-insets: 0, 3;
    -fx-border-style: solid, solid;
    -fx-border-radius: 15,13;
    -fx-background-radius: 15;
}

.addMenu-labels {
    -fx-text-fill: -fx-color-magenta;
    -fx-font-family:"Arial Black";
}

#stressTestMenu {
    -fx-background-color: -fx-color-grey-dark;
    -fx-border-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange);
    -fx-border-width: 3, 2;
    -fx-border-insets: 0, 3;
    -fx-border-style: solid, solid;
    -fx-border-radius: 15,13;
    -fx-background-radius: 15;
}

/* style class for buttons*/
.menu-btn {
    -fx-background-color: -fx-color-grey-light;
    -fx-background-radius: 15;
    -fx-alignment: center;
}

.menu-btn:hover {
    -fx-border-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange);
    -fx-border-width: 3, 3;
    -fx-border-insets: 0, 2;
    -fx-border-style: solid, solid;
    -fx-border-radius: 15, 13;
}

.menu-btn:selected {
    -fx-background-color: -fx-color-grey-lightest;
    -fx-border-color: linear-gradient(to top, -fx-color-magenta-dark, -fx-color-orange);
    -fx-border-width: 4;
    -fx-background-radius: 15;
    -fx-border-radius: 13;
}

.menu-btn:disabled {
    -fx-background-color: -fx-color-grey-middle;
}

/* Main Buttons */

#selectButton {
    -fx-background-image: url("/Gui/Icons/pointer3.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

#selectButton:hover {
    -fx-background-image: url("/Gui/Icons/pointer2.png");
    -fx-background-size: 48px 48px;
}

#selectButton:selected {
    -fx-background-image: url("/Gui/Icons/pointer2.png");
    -fx-background-size: 48px 48px;
}

#addButton {
    -fx-background-image: url("/Gui/Icons/plus.png");
    -fx-background-size: 56px 56px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#addButton:hover{
    -fx-background-image: url("/Gui/Icons/plus.png");
    -fx-background-size: 62px 62px;
}

#playButton {
    -fx-background-image: url("/Gui/Icons/play.png");
    -fx-background-size: 48px 48px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

#playButton:hover {
    -fx-background-image: url("/Gui/Icons/play.png");
    -fx-background-size: 56px 56px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}
#playButton:selected {
    -fx-background-image: url("/Gui/Icons/pause.png");
    -fx-background-size: 64px 64px;
}

#stressTestButton {
    -fx-background-image: url("/Gui/Icons/stressTest.png");
    -fx-background-size: 48px 48px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

#stressTestButton:hover {
    -fx-background-image: url("/Gui/Icons/carIcon.png");
}

#stressTestButton:selected {
    -fx-background-image: url("/Gui/Icons/carIcon.png");
}

#stepButton {
    -fx-background-image: url("/Gui/Icons/step.png");
    -fx-background-size: 56px 56px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

#stepButton:hover {
    -fx-background-image: url("/Gui/Icons/step_shoe.png");
    -fx-background-size: 48px 48px;
}

#stepButton:pressed {
    -fx-background-image: url("/Gui/Icons/step_shoe.png");
    -fx-background-size: 56px 56px;
}

#trafficLightButton {
    -fx-background-image: url("/Gui/Icons/trafficlights.png");
    -fx-background-size: 50px 50px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center
}

#trafficLightButton:hover {
    -fx-background-image: url("/Gui/Icons/trafficlights.png");
    -fx-background-size: 45px 45px;
}


#listData .list-cell {
    -fx-padding: 3 3 3 3;
    -fx-background-color: -fx-color-grey-middle;
    -fx-text-fill: white;
    -fx-font-family:"Arial Black";
}

#listData .list-cell:odd {
    -fx-background-color: -fx-color-grey-light;
}

#listData .list-cell:selected {
    -fx-background-color: -fx-color-magenta;
}

#listData .scroll-bar {
    -fx-background-color: -fx-color-grey-darkest;
}

